.event-detail-top {
  width: 90%;
  /* margin-left: auto; */
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.tags {
  display: flex;
  justify-content: centre;
}

.city-tag {
  background-color: #faa524;
}

.edit-del-btns {
  display: flex;
  /* padding: 1vw; */
}

.event-title {
  border: #79479c solid 10px;
  background: #79479c;
  color: #faa524;
  display: flex;
  justify-content: center;
  border-radius: 3px 3px 3px 3px;
  width: 90%;
}

.event-detail {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.status-header {
  border: #79479c solid 5px;
  background: #79479c;
  color: #faa524;
  display: flex;
  justify-content: center;
  border-radius: 3px 3px 3px 3px;
  width: 90%;
  margin-bottom: 0;
}

.status {
  display: flex;
  justify-content: space-between;
  margin: 1vw;
  padding-bottom: 2vw;
}

.status div {
  text-align: center;
}

.status p {
  font-weight: bold;
}

.event-location {
  font-weight: bold;
  padding: 0 0.5vw;
  height: 3vw;
}

.profile-link {
  color: #faa524;
  font-size: 1.2rem;
  border-bottom: 1px solid #79479c;
  text-decoration: none;
  margin: 0.5vw;
}

.profile-link:hover {
  color: #79479c;
  border-bottom: 1px solid #faa524;
  text-decoration: none;
}
