.btn {
  display: inline-block;
  border: none;
  text-decoration: none;
  font-size: calc(1.5vw + 10px);
  padding: 1vw;
  font-weight: bold;
  color: #faa524;
  text-align: center;
  transition: all 0.2s;
  width: auto;
  background-color: Transparent;
  cursor: pointer;
}

.btn:hover {
  color: #79479c;
}

.btn:focus {
  outline: none;
}
