.autocomplete .form-item {
  margin: 0;
  padding: 0;
}

.auto-list {
  margin: 0 auto;
  border: 2px solid #79479c;
  border-top: none;
  max-height: 25vh;
  overflow: scroll;
  width: 70%;
  box-sizing: border-box;
}

.auto-list div {
  color: black;
  font-weight: normal;
  font-size: calc(1vw + 10px);
  padding: 3px;
  cursor: pointer;
}

.auto-list:empty {
  border: none;
}

.autocomplete .form-input {
  /* padding: 0 0.5vw; */
  margin: 0;
  padding: 0;
}
