.calendar-component {
  width: 90%;
  margin: 1vw auto;
}

.rbc-toolbar-label {
  font-size: calc(10px + 1vw);
}

.rbc-btn-group {
  border-radius: 10px;
  box-shadow: rgba(106, 108, 124, 0.5) 4px 4px 6px -2px,
    white -8px -8px 12px -2px;
  background: linear-gradient(90deg, rgb(241, 241, 243), rgb(229, 229, 234));
}

.rbc-btn-group button {
  font-size: calc(8px + 1vw);
  padding: 10px;
  text-align: center;
  font-size: 1.5vw;
  cursor: pointer;
  border: none;
  border-radius: 10px;
  color: #79479c;
}

.rbc-toolbar button.rbc-active:focus {
  background-color: #faa524;
  color: #79479c;
}

.plus {
  background-color: #ffc771;
}
.flash {
  background-color: #d299ff;
}
.workshop {
  background-color: #fe1490;
}
.rbc-event.plus.rbc-selected {
  background-color: #ffc771;
  color: black;
}
.rbc-event.flash.rbc-selected {
  background-color: #d299ff;
  color: black;
}
.rbc-event.workshop.rbc-selected {
  background-color: #fe1490;
  color: black;
}

.rbc-month-row {
  z-index: 0;
}
.rbc-current-time-indicator {
  z-index: 0;
}
.event-modal {
  background-color: white;
  text-align: center;
  border: 1px solid #79479c;
  z-index: 1;
}
