.calendar-component {
  width: 90%;
  margin: 1vw auto;
}

.rbc-toolbar {
  flex-wrap: nowrap;
}

.rbc-toolbar-label {
  font-size: calc(10px + 1vw);
}

.rbc-btn-group {
  border-radius: 10px;
  box-shadow: rgba(106, 108, 124, 0.5) 4px 4px 6px -2px,
    white -8px -8px 12px -2px;
  background: linear-gradient(90deg, rgb(241, 241, 243), rgb(229, 229, 234));
}

.rbc-btn-group button {
  font-size: calc(8px + 1vw);
  padding: 10px;
  text-align: center;
  font-size: 1.5vw;
  cursor: pointer;
  border: none;
  border-radius: 10px;
  color: #79479c;
}

.rbc-toolbar button.rbc-active:focus {
  background-color: #faa524;
  color: #79479c;
}
.rbc-day-slot .rbc-event {
  border: none;
}

.rbc-time-content .rbc-day-slot .rbc-events-container {
  margin-right: 0;
}

.plus {
  background-color: #ffc771;
}
.flash {
  background-color: #d299ff;
}
.workshop {
  background-color: #fe1490;
}
.rbc-event.plus.rbc-selected {
  background-color: #ffc771;
  color: black;
}
.rbc-event.flash.rbc-selected {
  background-color: #d299ff;
  color: black;
}
.rbc-event.workshop.rbc-selected {
  background-color: #fe1490;
  color: black;
}

.rbc-month-row {
  z-index: 0;
}
.rbc-current-time-indicator {
  z-index: 0;
}
.rbc-row-content {
  z-index: 0;
}

.long-event .rbc-event-label {
  font-size: calc(0.6vw + 5px);
  white-space: unset;
  text-align: center;
  margin-bottom: 0.2vw;
}

.short-event .rbc-event-label {
  font-size: 0;
}

.rbc-event-content {
  font-size: calc(0.5vw + 10px);
  text-align: center;
}

.rbc-time-gutter .rbc-time-column {
  white-space: unset;
  font-size: calc(0.5vw + 10px);
}

.rbc-time-slot {
  white-space: unset;
  width: calc(7.5vw + 10px);
  font-size: calc(0.5vw + 10px);
  text-align: center;
}

.rbc-time-header-gutter {
  width: calc(7.5vw + 10px) !important;
  max-width: calc(7.5vw + 10px) !important;
  min-width: calc(7.5vw + 10px) !important;
}

.rbc-header {
  font-size: calc(0.5vw + 10px);
}

@media (max-width: 800px) {
  .calendar-component {
    height: 100vw !important;
  }

  .rbc-time-slot {
    font-size: calc(0.5vw + 7px);
    width: calc(7.5vw + 10px);
  }
  .rbc-time-slot .rbc-label {
    white-space: break-spaces;
  }
}
