.calendar-component {
  width: 90%;
  margin: 1vw auto;
}

.rbc-toolbar-label {
  font-size: calc(10px + 1vw);
}

.rbc-event.rbc-selected {
  background-color: #faa524;
  color: #79479c;
}

.rbc-btn-group button {
  font-size: calc(8px + 1vw);
  background-color: #79479c;
  color: #faa524;
}

.rbc-btn-group button:hover {
  background-color: #79479c;
}

.rbc-toolbar button:active:hover,
.rbc-toolbar button:active:focus,
.rbc-toolbar button.rbc-active:hover,
.rbc-toolbar button.rbc-active:focus {
  background-color: #faa524;
  color: #79479c;
}

.rbc-event {
  background-color: #79479c;
}
