.add-mentor {
  box-shadow: 0px 0px 5px gray;
  border-radius: 5px;
  margin-bottom: 3vw;
}

.add-mentor-header {
  border: #79479c solid 10px;
  background: #79479c;
  color: #faa524;
  display: flex;
  justify-content: center;
  border-radius: 3px 3px 0px 0px;
  margin-bottom: 2vw;
}

.mentor-list {
  box-shadow: 0px 0px 5px gray;
  border-radius: 5px;
}

.header-list {
  border: #79479c solid 10px;
  background: #79479c;
  color: #faa524;
  display: flex;
  justify-content: center;
  border-radius: 3px 3px 0px 0px;
}

.all-mentor {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 100%;
  flex-wrap: wrap;
  height: fit-content;
}

.all_mentor_card {
  padding: 1vw;
  justify-content: space-around;
  box-shadow: 0px 0px 5px gray;
  border-radius: 5px;
  width: 45%;
  margin-top: 2vw;
}

@media (max-width: 800px) {
  .all-mentor {
    flex-direction: row;
  }
  .all_mentor_card {
    width: 90%;
    margin: 2vw 0;
  }
}
