.AddMentorButton {
  display: flex;
  justify-content: center;
}

.btn {
  display: inline-block;
  border: none;
  text-decoration: none;
  font-size: 2vw;
  font-weight: bold;
  color: #faa524;
  text-align: center;
  transition: all 0.2s;
  margin: 1vw;
  background-color: Transparent;
}

.header-list {
  border: #79479c solid 10px;
  background: #79479c;
  color: #faa524;
  display: flex;
  justify-content: center;
  border-radius: 3px 3px 0px 0px;
}

.all-mentor {
  /* display: flex;
  flex-direction: column; */
  display: grid;
  flex-direction: row;
  width: 100%;
  grid-auto-flow: column;
  grid-gap: 1vw;
  grid-template-rows: 30% 30% 30%;
  grid-template-columns: 50% 50%;
}

.all_mentor_card {
  padding: 1vw;
  margin: 1vw;
  justify-content: space-around;
  box-shadow: 0px 0px 5px gray;
  border-radius: 5px;
}
