.AddMentorButton {
  display: flex;
  justify-content: center;
}

.btn {
  display: inline-block;
  border: none;
  text-decoration: none;
  font-size: 2vw;
  font-weight: bold;
  color: #faa524;
  text-align: center;
  transition: all 0.2s;
  margin: 5px;
  height: 100px;
  background-color: Transparent;
}
