.csv {
  width: 90%;
  margin: 0 auto;
}

.csv-text {
  width: 90%;
  text-align: center;
  margin: 0 auto;
}

.SubmitButton {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  font-size: 1.4rem;
}
