.event-modal {
  background-color: white;
  text-align: center;
  /* border: 1px solid #79479c; */
  z-index: 1;
  box-shadow: rgba(106, 108, 124, 0.5) 1px -1px 12px -1px,
    white -8px -8px 12px -2px;
  border-radius: 5px;
}
