.event-modal {
  background-color: white;
  z-index: 2;
  margin: 7vw auto;
  width: 50%;
  text-align: center;
  box-shadow: rgba(106, 108, 124, 0.5) 1px -1px 12px -1px,
    white -8px -8px 12px -2px;
  border-radius: 5px;
}

.event-modal .overflow-container {
  max-height: 70vh;
  width: 100%;
  overflow: scroll;
}

@media (max-width: 800px) {
  .event-modal {
    width: 70%;
  }
}
@media (max-width: 450px) {
  .event-modal {
    width: 90%;
  }
}
