.event-tag {
  color: white;
  width: fit-content;
  padding: calc(0.5vw + 8px);
  border-radius: 5px;
  margin-right: 1vw;
}

.plus {
  background-color: #ffc771;
}

.flash {
  background-color: #d299ff;
}

.workshop {
  background-color: #fe1490;
}
