input {
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}

label {
  color: #00073d;
  display: flex;
  flex-direction: column;
}

.ButtonLogin {
  color: white;
  background-color: #00073d;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 50%;
  display: flex;
  justify-content: center;
  padding: 10px;
  width: 30%;
}

.LoginForm {
  display: flex;
  flex-direction: column;
  align-content: center;
  padding: 80px;
}
