.profile {
  display: flex;
  align-items: flex-start;
  height: fit-content;
}

.mentor-profile-card {
  width: 100%;
  padding-bottom: 10px;
  box-shadow: 0px 0px 5px grey;
  margin: 5px;
  border-radius: 5px;
  height: 100%;
}

.card-title {
  margin: 15px 0;
  color: #faa524;
  font-size: 1.5rem;
}

.card-header {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  /* font-size: 1vw; */
  margin-bottom: 0;
}

.card-subheader {
  font-size: 1.5vw;
  color: #faa524;
  margin: 1vw 0;
}

.contents {
  padding: 0 3vw;
}

.card-details {
  margin: 15px;
  color: #79479c;
  font-size: calc(0.5vw + 7px);
  font-weight: bold;
}

.top_card {
  border: #79479c solid 10px;
  background: #79479c;
  color: #faa524;
  display: flex;
  justify-content: center;
  border-radius: 3px 3px 0px 0px;
  margin-top: 0;
}

.IndustryStyling {
  color: white;
  background-color: #faa524;
  width: fit-content;
  padding: calc(0.5vw + 8px);
  border-radius: 5px;
}

.SkillButton {
  color: white;
  background-color: #79479c;
  width: fit-content;
  padding: 0.6vw;
  border-radius: 5px;
}

.event-location-style {
  color: white;
  background-color: #79479c;
  width: fit-content;
  padding: 10px;
  border-radius: 5px;
  margin: 15px;
  font-size: 12px;
  font-weight: bold;
  display: flex;
  align-self: center;
}

.contents .skills {
  width: 100%;
}

.mentor-process-events {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.mentor-process-container {
  flex: 1;
}

.mentor-events-container {
  flex: 1;
  width: 50%;
  padding-bottom: 10px;
  box-shadow: 0px 0px 5px grey;
  margin: 5px;
  border-radius: 5px;
  overflow: scroll;
  margin-bottom: 1vw;
}

.mentor-events-container > div {
  height: 0;
}

@media (max-width: 650px) {
  .mentor-process-events {
    flex-direction: column;
  }
  .mentor-profile-card {
    width: 100%;
  }

  .mentor-events-container {
    width: 100%;
  }

  .mentor-events-container > div {
    height: 500px;
  }
}
