.mentor-profile-card {
  width: 50%;
  /* padding: 0 3vw; */
  padding-bottom: 10px;
}

.card-title {
  margin: 15px;
  color: #faa524;
  font-size: 1.2rem;
}

.contents {
  padding: 0 3vw;
}

.card-details {
  margin: 15px;
  color: #79479c;
  font-size: 12px;
  font-weight: bold;
}

.top_card {
  border: #79479c solid 10px;
  background: #79479c;
  color: #faa524;
  display: flex;
  justify-content: center;
  border-radius: 3px 3px 0px 0px;
}

.IndustryStyling {
  color: white;
  background-color: #faa524;
  width: fit-content;
  padding: 0.6vw;
  border-radius: 5px;
}

.SkillButton {
  color: white;
  background-color: #79479c;
  width: fit-content;
  padding: 0.6vw;
  border-radius: 5px;
}

.card-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 10px;
  font-size: 1vw;
  margin-bottom: 0;
}

.contents .skills {
  width: 100%;
}

.bio {
  color: black;
  font-weight: normal;
  margin: 15px;
}

.MentorDetailStyle {
  margin: 15px;
}

.Mentor_Events_Card {
  color: #faa524;
  /* display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center; */
  background-color: white;
  text-align: center;
  width: 50%;
  box-shadow: 0px 0px 5px gray;
  border-radius: 5px;
  margin: 0px;
  }

.invitations_container {
  flex-wrap: wrap;

  }

.EventTitleStyle {
  margin: 15px;
  color: #faa524;
  font-size: 18px;
  font-weight: bold;
}

.top_card_events {
  border: #79479c solid 1px;
  background: #79479c;
  color: #faa524;
  display: flex;
  justify-self: center;
  justify-content: center;
  border-radius: 5px;
  width: 50%;
  padding: 3px;
  margin: 1px;
}