.project-card {
  width: 30%;
  box-shadow: 0px 0px 5px gray;
  margin: 15px;
  padding-bottom: 10px;
}

.card-title {
  margin: 15px;
  color: #faa524;
  font-size: 1.2rem;
}

.card-details {
  margin: 15px;
  color: #79479c;
  font-size: 12px;
  font-weight: bold;
}

.top_card {
  border: #79479c solid 10px;
  background: #79479c;
  color: #faa524;
  display: flex;
  justify-content: center;
  border-radius: 3px 3px 0px 0px;
}

.IndustryStyling {
  color: white;
  background-color: #79479c;
  width: fit-content;
  padding: 0.6vw;
  border-radius: 5px;
}

.SkillButton {
  color: white;
  background-color: #79479c;
  width: fit-content;
  padding: 0.6vw;
  border-radius: 5px;
}

.card-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 10px;
  font-size: 1vw;
}

.SkillStyle {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin: 15px;
}

.bio {
  color: black;
  font-weight: normal;
  margin: 15px;
}

.MentorDetailStyle {
  margin: 15px;
}
