.mentor-icon {
  display: flex;
  margin: 0 0.5vw;
  margin-top: 0.5vw;
  width: fit-content;
  background: rgba(211, 211, 211, 0.3);
}

.mentor-icon-name {
  text-align: center;
  padding-left: 0.5vw;
}

.mentor-icon-btn {
  background: transparent;
  border: none !important;
}

.mentor-icon-btn:hover {
  background: red;
  opacity: 0.5;
}
