body {
  padding: 3vw;
}

button:focus {
  border: none !important;
  outline: none !important;
}

div:focus,
div:active {
  border: none !important;
  outline: none !important;
}

input {
  font-family: -apple-system, BlinkMacSystemFont, "raleway", "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
}
